@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

:root {
    --text-color: #ededed;
    --main-second-color: #1E90FF;
    --bg: #000000;
}

canvas {
    position: absolute;
    height: 100vh;
    pointer-events: none;
}

section {
    min-height: 100vh;
}

.menu{
    position: fixed;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 999;
}

.icones {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.icones li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 20px;
}

.icones li::after {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    transform: rotate(0deg);
    transition: .5s;
}

.icones li:hover::after {
    inset: -10px;
    transform: rotate(0deg);
}

.icones li a {
    position: relative;
    text-decoration: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones li a i {
    font-size: 2em;
    transition: .5s;
    color: var(--clr);
}

.icones li:hover a i {
    color: var(--clr);
    transform: translateY(-40%);
}

.icones li a span {
    position: absolute;
    color: var(--clr);
    opacity: 0;
    transition: .5s;
    transform: scale(0) translateY(200%);
}

.icones li:hover a span {
    opacity: 1;
    transform: scale(1) translateY(100%);
}

.ilumi-content{
    position: absolute;
    display: flex;
    justify-content: end;
    right: 0;
    top: 0;
    height: 100dvh;
    width: 420px;
    z-index: 10;
    overflow: hidden;
}

.iluminacao{
    height: 100%;
    width: 120px;
    background: linear-gradient(to left, var(--main-second-color), transparent);
    filter: blur(20px);
    transform: perspective(64px) scale(2);
    opacity: 0, 7
}

.content{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.content h1{
    color: white;
    font-size: 50px;
    margin-left: 100px;
    font-family: 'Inter', sans-serif;
}

.produtos{
    overflow-x: hidden;
    background: linear-gradient(#002142, black);
    width: 100%;
}

